<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CopyRename.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CopyRename.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CopyRename.Properties.Settings>
            <setting name="SourceDir" serializeAs="String">
                <value>C:\Users\zsmith</value>
            </setting>
            <setting name="DestDir" serializeAs="String">
                <value>C:\Users\zsmith</value>
            </setting>
            <setting name="Prefix" serializeAs="String">
                <value>Photo</value>
            </setting>
            <setting name="Digits" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="SimpleCopy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseDirName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DigitsSelectedIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="NumberFirst" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConstraintTypeSelection" serializeAs="String">
                <value>Landscape</value>
            </setting>
        </CopyRename.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <CopyRename.Properties.Settings>
            <setting name="Ext" serializeAs="String">
                <value>.jpg</value>
            </setting>
        </CopyRename.Properties.Settings>
    </applicationSettings>
</configuration>