<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileUtilities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FileUtilities.Properties.Settings>
            <setting name="Source" serializeAs="String">
                <value>D:\Projects\FileOrganizer\_Testing\Input</value>
            </setting>
            <setting name="Destination" serializeAs="String">
                <value>D:\Projects\FileOrganizer\_Testing\Output</value>
            </setting>
            <setting name="Overwrite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Skip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddDashesToDates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseMonthSubDirs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyWhenSorting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Prefix" serializeAs="String">
                <value>Photo</value>
            </setting>
            <setting name="Digits" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SimpleCopy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseDirName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DigitsSelectedIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PhotoExtension" serializeAs="String">
                <value>.jpg</value>
            </setting>
            <setting name="NumberFirst" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConstraintTypeSelection" serializeAs="String">
                <value>Landscape</value>
            </setting>
            <setting name="ConstraintLandscape" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="ConstraintPortrait" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="ConstraintRatio" serializeAs="String">
                <value>133</value>
            </setting>
        </FileUtilities.Properties.Settings>
    </userSettings>
</configuration>